@import '../../variables.css';

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  * {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
  }

  button {
    background-color: var(--main-color);
  }

  .mainTimer {
    position: relative;

    .time {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--main-color);
    }
    .progressBar {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: white;
      background: radial-gradient(closest-side, black 85%, transparent 80% 100%),
        conic-gradient(var(--main-color) var(--progress), black 0);
      // .progressBarInside {
      //   background-color: var(--main-color);
      //   height: 10px;
      //   width: var(--progress);
      //   z-index: 3;
      // }
    }
  }
}
